@model MuellerThomasMKN_151.Models.Game
@{
    ViewBag.Title = "Hangman";

    <h3>Aktuelle Fehler: @Model.currentErrors</h3>
    <h3>Maximale Fehler: @Model.maxErrors</h3>

    <h3>@ViewData["Word"]</h3>
}

@using (Html.BeginForm("LetterChosen", "Game", FormMethod.Post))
{
    <button type="submit" class="btn btn-default @Model.isDisabled('A')" name="value" value="A">A</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('B')" name="value" value="B">B</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('C')" name="value" value="C">C</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('D')" name="value" value="D">D</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('E')" name="value" value="E">E</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('F')" name="value" value="F">F</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('G')" name="value" value="G">G</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('H')" name="value" value="H">H</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('I')" name="value" value="I">I</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('J')" name="value" value="J">J</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('K')" name="value" value="K">K</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('L')" name="value" value="L">L</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('M')" name="value" value="M">M</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('N')" name="value" value="N">N</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('O')" name="value" value="O">O</button><br />
    <button type="submit" class="btn btn-default @Model.isDisabled('P')" name="value" value="P">P</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('Q')" name="value" value="Q">Q</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('R')" name="value" value="R">R</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('S')" name="value" value="S">S</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('T')" name="value" value="T">T</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('U')" name="value" value="U">U</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('V')" name="value" value="V">V</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('W')" name="value" value="W">W</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('X')" name="value" value="X">X</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('Y')" name="value" value="Y">Y</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('Z')" name="value" value="Z">Z</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('Ä')" name="value" value="Ä">Ä</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('Ü')" name="value" value="Ü">Ü</button>
    <button type="submit" class="btn btn-default @Model.isDisabled('Ö')" name="value" value="Ö">Ö</button>
}

