@model IEnumerable<MuellerThomasMKN_151.Models.Word>

@{
    ViewBag.Title = "Wörterliste";
}

<h2>Wörter</h2>

<p>
    @Html.ActionLink("Wort erfassen", "Create")
</p>

@using (Html.BeginForm("Index", "Words", FormMethod.Get))
{
    <p>Nach Wort suchen: </p>
    <div class="form-inline">
        @Html.TextBox("searchString", null, new { @class = "form-control" })
        <input type="submit" class="btn btn-default" value="Suchen" />
    </div>
    <br />
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Wort", "Index", new { sortOrder = ViewBag.NameSortParm, searchString = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Bearbeiten", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Löschen", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
